@import "bourbon/bourbon"
//importing the bourbon tool for sass ehich creates vendor prefixes and other nifty functionalities
@import "vars"
//importing the variables and keyframes from the _vars.sass
body
  background-color: shadow
  color: $text-color
  h3
    margin: 0


  //nav
  nav
    +position(fixed)
    z-index: 10
    transform: translateY(-100%)
    +transition
    .navbar
      background: transparent
      margin-bottom: 0
      height: 75px
      ul
        display: flex
        li
          list-style-type: none
          margin: 25px 0px
          a
            font:
              size: 18px
              weight: 600
            padding: 5px 10px
  .show
    transform: translateY(0%)


  //Header
  header
    +position(relative)
    height: 100vh
    width: 100%
    overflow: hidden
    background: transparentize($shadow, 0.7)
    /* the background image and the overlay are created seperately using pseudo elements
    &:before
      content: ""
      +position(absolute)
      height: 100vh
      width: 100%
      //overflow: hidden
      z-index: -1
      background:
        image: url("../img/eye.jpg")
        position: center
        size: cover
        repeat: no-repeat
      +transform(scale(1.1))
      animation: ken-burns 10s ease-out
    .brand
      +position(absolute, null null null 50%)
      +transform(translateX(-50%))
    .motto
      padding: 180px 50px
    .call-to-action
      a
        text-decoration: none
        background-color: transparentize($accent, 0.5)
        padding: 20px 100px
        color: white
        font:
          size: 24px
          weight: 600px
        border-radius: 10px
        +transition
        &:hover
          background-color: transparentize($accent, 0.1)
          box-shadow: 0px 10px 40px black
    .scroll-arrow
      text-align: center
      +position(absolute, null null 10px 50%)
      cursor: pointer
      animation: pendulum 1500ms ease-in-out infinite
  .container-fluid
    padding: 0
    #about
      background:
        image: url("../img/wrinkle.jpg")
        position: center
        size: cover
      text-shadow: 0 0 10px $accentYellow
      h2
        text-align: center
        margin: 50px 0
      .row
        line-height: 2em
        margin-bottom: 50px
        font-size: 16px
    #honours
      div
        padding: 0
        +position(relative)
        .container-fluid
          +transition
          overflow: hidden
          img
            +position(relative)
            z-index: -1
          &:hover
            box-shadow: 0 0 300px black inset
            img
              animation: ken-burns 5s
              transform: scale(1.1)
            h3
              opacity: 1

        h3
          opacity: 0
          height: 25px
          +position(absolute, 50% 0 0 0)
          +transform(translateY(-50%))

    #subscribe
      .row
        padding: 80px 0
        +position(relative)
        background: $darkBg
        +transition

        &:before
          +position(absolute, 0 null null null)
          z-index: -1
          height: 200px
          width: 100%
          content: ""
          background:
            image: url("../img/books.jpg")
            position: center
            size: cover
        &:hover
          background: transparent
        .col-sm-3
          +position(relative)
        h3
          height: 35px
          padding-top: 10px
          margin: 0
          font-weight: 600
          +position(absolute, null 5px null null)
        input
          padding: 5px 20px
          font:
            size: 18px
            weight: bold
          border: none
          background: transparentize($accentRed, 0.3)
        .col-sm-6
          input
            width: 100%
            background: transparent
            border: none
            border-bottom: 1px solid $accentYellow
            +transition
            &:hover
              border-bottom: 3px solid $accentYellow
            &:focus
              outline: 0
              background: transparentize($text-shadow, 0.9)
        .submit
          +position(relative)
          input
            +position(absolute)
          .bounce
            animation: bounce 1s
            transform-origin: center bottom
