@keyframes ken-burns {
  from {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  to {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); } }
@keyframes pendulum {
  to, from {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px); }
  50% {
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
    transform: translateY(5px); } }
@keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0); }
  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0); }
  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0); }
  90% {
    transform: translate3d(0, -4px, 0); } }
@keyframes tada {
  from {
    transform: scale3d(1, 1, 1); }
  10%, 20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); }
  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); }
  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); }
  to {
    transform: scale3d(1, 1, 1); } }
@keyframes change {
  0% {
    background: seagreen; }
  10% {
    background: darkseagreen; }
  30% {
    background: olive; }
  50% {
    background: springgreen; }
  70% {
    background: darkgoldenrod; }
  90% {
    background: greenyellow; } }
@keyframes squeeze {
  0% {
    height: 5000px;
    width: 5000px;
    -webkit-transform: translate(50%, 50%);
    -moz-transform: translate(50%, 50%);
    -ms-transform: translate(50%, 50%);
    -o-transform: translate(50%, 50%);
    transform: translate(50%, 50%); }
  100% {
    height: 0;
    width: 0;
    div; } }
@keyframes rollIn {
  0% {
    opacity: 0; }
  50% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg); }
  to {
    opacity: 1;
    transform: none; } }
body {
  background-color: shadow;
  color: white;
  overflow-x: hidden;
  font-family: "Special Elite", sans-serif;
  letter-spacing: 3px; }
  body h3 {
    margin: 0; }
  body a {
    font-size: 16px;
    font-weight: 600;
    text-decoration: none; }
    body a:hover {
      text-decoration: none;
      color: #FB2B3A; }
  body p {
    font-family: "Catamaran", monospace;
    letter-spacing: 1px; }
  body .navbar-default {
    width: 100%;
    position: fixed;
    z-index: 10;
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
    width: 100%;
    margin-bottom: 0;
    height: 75px;
    border: none;
    border-radius: 0 !important;
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s; }
    body .navbar-default .logo {
      margin: 20px;
      float: left; }
      body .navbar-default .logo svg {
        height: 35px;
        width: 35px; }
    body .navbar-default .navbar-header {
      height: 75px !important; }
    body .navbar-default .navbar-toggle {
      margin: 21px 15px;
      border: none !important; }
      body .navbar-default .navbar-toggle:hover {
        background-color: rgba(251, 43, 58, 0.5) !important; }
      body .navbar-default .navbar-toggle:focus {
        background-color: rgba(251, 43, 58, 0.7) !important; }
    body .navbar-default .navbar-collapse {
      border: none; }
    body .navbar-default ul {
      float: right;
      margin: 0;
      display: flex;
      flex-wrap: wrap; }
      body .navbar-default ul li {
        list-style-type: none;
        margin: 15px 0px; }
        body .navbar-default ul li a {
          color: white !important;
          font-size: 18px;
          font-weight: 600;
          padding: 10px 20px;
          -webkit-transition: all 0.15s ease-out 0s;
          -moz-transition: all 0.15s ease-out 0s;
          transition: all 0.15s ease-out 0s; }
          body .navbar-default ul li a:hover {
            background: rgba(0, 106, 95, 0.9) !important;
            box-shadow: 0 0 10px turquoise !important;
            color: turquoise; }
      body .navbar-default ul .active a {
        color: white !important;
        background: rgba(251, 43, 58, 0.6) !important; }
  body .hiddenNav {
    background: transparent; }
  body .show {
    background: rgba(0, 106, 95, 0.8);
    box-shadow: 0px 2px 10px black; }
  body header {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background: rgba(128, 128, 128, 0.3);
    /* the background image and the overlay are created seperately using pseudo elements */ }
    body header:before {
      content: "";
      position: absolute;
      height: 100vh;
      width: 100%;
      z-index: -1;
      background-image: url("../img/eye.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1);
      animation: ken-burns 10s ease-out; }
    body header .brand {
      text-align: center;
      margin-top: 20vh;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%); }
      body header .brand svg {
        height: 120px;
        width: 120px; }
      body header .brand h1 {
        font-weight: 600;
        text-transform: uppercase;
        font-family: "Rock Salt", cursive;
        letter-spacing: 10px;
        color: turquoise; }
        body header .brand h1 span {
          color: rgba(251, 43, 58, 0.7); }
    body header .motto {
      position: relative;
      margin-top: 45vh;
      padding: 80px 50px; }
    body header .call-to-action {
      position: relative; }
      body header .call-to-action a {
        text-decoration: none;
        text-transform: uppercase;
        background-color: rgba(64, 224, 208, 0.5);
        padding: 20px 100px;
        color: white;
        font-size: 24px;
        font-weight: 600px;
        border-radius: 10px;
        position: absolute;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        -webkit-transition: all 0.15s ease-out 0s;
        -moz-transition: all 0.15s ease-out 0s;
        transition: all 0.15s ease-out 0s; }
        body header .call-to-action a:hover {
          -webkit-transform: translate(-50%, -3px);
          -moz-transform: translate(-50%, -3px);
          -ms-transform: translate(-50%, -3px);
          -o-transform: translate(-50%, -3px);
          transform: translate(-50%, -3px);
          background-color: rgba(64, 224, 208, 0.9);
          box-shadow: 0px 10px 40px black; }
    body header .scroll-arrow {
      text-align: center;
      font-size: 20px;
      position: absolute;
      bottom: 10px;
      left: 50%;
      animation: pendulum 1500ms ease-in-out infinite; }
      body header .scroll-arrow a {
        color: white; }
  body .container-fluid {
    width: 100%;
    padding: 0; }
    body .container-fluid #about {
      color: dimgrey;
      padding: 50px 0;
      background-image: url("../img/wrinkle.jpg");
      background-position: center;
      background-size: cover;
      background-attachment: fixed; }
      body .container-fluid #about h2 {
        text-align: center;
        margin: 50px 0;
        text-shadow: 0 1px 2px black; }
      body .container-fluid #about .row {
        line-height: 2em;
        margin-bottom: 50px;
        font-size: 16px; }
    body .container-fluid #honours div {
      padding: 0;
      position: relative;
      color: white; }
      body .container-fluid #honours div .container-fluid {
        -webkit-transition: all 0.15s ease-out 0s;
        -moz-transition: all 0.15s ease-out 0s;
        transition: all 0.15s ease-out 0s;
        overflow: hidden; }
        body .container-fluid #honours div .container-fluid img {
          position: relative;
          z-index: -1; }
        body .container-fluid #honours div .container-fluid:hover {
          box-shadow: 0 0 300px black inset; }
          body .container-fluid #honours div .container-fluid:hover img {
            animation: ken-burns 8s;
            transform: scale(1.1); }
          body .container-fluid #honours div .container-fluid:hover h3 {
            opacity: 1;
            text-shadow: 0 0px 20px #FB2B3A; }
      body .container-fluid #honours div h3 {
        opacity: 0;
        height: 25px;
        position: absolute;
        top: 50%;
        right: 0;
        bottom: 0;
        left: 0;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%); }
    body .container-fluid #subscribe .row {
      height: 195px;
      padding: 80px 0;
      position: relative;
      background: rgba(0, 0, 0, 0.1);
      -webkit-transition: all 0.15s ease-out 0s;
      -moz-transition: all 0.15s ease-out 0s;
      transition: all 0.15s ease-out 0s; }
      body .container-fluid #subscribe .row:before {
        position: absolute;
        top: 0;
        z-index: -1;
        height: 195px;
        width: 100%;
        content: "";
        background-image: url("../img/books.jpg");
        background-position: center;
        background-size: cover; }
      body .container-fluid #subscribe .row:hover {
        background: transparent; }
      body .container-fluid #subscribe .row .col-sm-3 {
        position: relative; }
      body .container-fluid #subscribe .row h3 {
        height: 35px;
        padding-top: 10px;
        margin: 0;
        font-weight: 600;
        position: absolute;
        right: 5px; }
      body .container-fluid #subscribe .row input {
        padding: 5px 20px;
        font-size: 18px;
        font-weight: bold;
        border: none;
        background: rgba(251, 43, 58, 0.7); }
      body .container-fluid #subscribe .row .col-sm-6 input {
        width: 100%;
        background: transparent;
        border: none;
        border-bottom: 1px solid #FAD89B;
        -webkit-transition: all 0.15s ease-out 0s;
        -moz-transition: all 0.15s ease-out 0s;
        transition: all 0.15s ease-out 0s; }
        body .container-fluid #subscribe .row .col-sm-6 input:hover {
          border-bottom: 3px solid #FAD89B; }
        body .container-fluid #subscribe .row .col-sm-6 input:focus {
          outline: 0;
          background: rgba(19, 126, 115, 0.1); }
      body .container-fluid #subscribe .row .submit {
        position: relative; }
        body .container-fluid #subscribe .row .submit input {
          position: absolute;
          -webkit-transition: all 0.15s ease-out 0s;
          -moz-transition: all 0.15s ease-out 0s;
          transition: all 0.15s ease-out 0s; }
          body .container-fluid #subscribe .row .submit input:hover {
            background: rgba(19, 126, 115, 0.7);
            box-shadow: 2px 3px 10px #FB2B3A; }
          body .container-fluid #subscribe .row .submit input:focus {
            outline: 0; }
      body .container-fluid #subscribe .row .bounce {
        animation: bounce 1s;
        transform-origin: center bottom; }
  body footer {
    background-image: url("../img/wrinkle.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #006A5F;
    font-weight: 600; }
    body footer .row {
      padding: 20px; }
      body footer .row .col-sm-3 svg {
        margin-left: 30px;
        height: 80px;
        width: 80px; }
      body footer .row .col-sm-3 h2 {
        color: turquoise; }
        body footer .row .col-sm-3 h2 span {
          color: rgba(251, 43, 58, 0.7); }
      body footer .row .col-sm-4 h2 {
        text-shadow: 0 1px 2px black;
        margin-bottom: 20px; }
      body footer .row .col-sm-4 a svg {
        padding: 5px;
        float: left;
        height: 40px;
        width: 40px;
        border-radius: 50%; }
      body footer .row .col-sm-4 a p {
        padding: 10px 30px;
        font-weight: 600; }
      body footer .row .col-sm-4 a:hover {
        box-shadow: 0 0 5px black; }
      body footer .row .col-sm-5 {
        position: relative;
        text-shadow: 0px 1px 2px black; }
        body footer .row .col-sm-5 h2 {
          margin-bottom: 30px; }
        body footer .row .col-sm-5 a {
          position: relative;
          margin: 0 20px;
          float: left;
          height: 50px;
          width: 50px;
          border-radius: 50%;
          background: white;
          box-shadow: 0px 0px 30px black inset; }
          body footer .row .col-sm-5 a:hover {
            box-shadow: 2px 5px 20px black; }
          body footer .row .col-sm-5 a svg {
            border-radius: 42%; }
        body footer .row .col-sm-5 #twitter {
          fill: dodgerblue; }
        body footer .row .col-sm-5 #facebook {
          fill: darkslateblue; }
        body footer .row .col-sm-5 #insta {
          fill: white;
          background: linear-gradient(blue, red, yellow); }
          body footer .row .col-sm-5 #insta svg {
            border-radius: 0%;
            padding: 10px;
            height: 50px;
            width: 50px; }
    body footer .copyright {
      max-width: 900px;
      margin: 0 auto; }
      body footer .copyright span.line {
        display: block;
        background: #006A5F;
        width: 100%;
        height: 1px; }
      body footer .copyright p {
        margin: 10px; }
  body .player {
    position: fixed;
    right: 30px;
    bottom: 30px;
    border-radius: 50%;
    height: 0;
    width: 0;
    background-color: rgba(251, 43, 58, 0.2);
    z-index: 99;
    animation: squeeze 1.2s ease-out; }
    body .player .control {
      padding: 1px;
      position: relative;
      background: rgba(64, 224, 208, 0.4);
      height: 20px;
      width: 20px;
      animation: rollIn 2.4s; }
      body .player .control:hover {
        background: rgba(64, 224, 208, 0.7);
        box-shadow: 0 0 10px black; }
        body .player .control:hover span {
          color: rgba(251, 43, 58, 0.8); }
      body .player .control span {
        position: absolute;
        font-size: 18px;
        color: rgba(251, 43, 58, 0.5); }
  body .paused .glyphicon-play {
    opacity: 1; }
  body .paused .glyphicon-pause {
    opacity: 0; }
  body .playing .glyphicon-pause {
    opacity: 1; }
  body .playing .glyphicon-play {
    opacity: 0; }

.empowerment {
  background-image: url("../img/donation.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }
  .empowerment .container {
    margin-top: 40vh;
    padding: 15px;
    background: rgba(255, 255, 255, 0.2); }
    .empowerment .container .donate, .empowerment .container .sponsor {
      min-height: 300px;
      padding: 50px;
      box-shadow: 0 0 100px black;
      text-align: center;
      position: relative; }
      .empowerment .container .donate .teddy, .empowerment .container .sponsor .teddy {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        margin-top: -200px;
        height: 200px;
        width: 200px;
        padding: 25px 0;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.8);
        box-shadow: 0 0 50px turquoise inset; }
        .empowerment .container .donate .teddy img, .empowerment .container .sponsor .teddy img {
          height: 150px;
          width: 150px; }
      .empowerment .container .donate h2, .empowerment .container .sponsor h2 {
        margin-top: 30px;
        margin-bottom: 20px;
        text-shadow: 0 1px 2px black; }
      .empowerment .container .donate p, .empowerment .container .sponsor p {
        text-align: justify;
        margin-bottom: 50px; }
      .empowerment .container .donate .money, .empowerment .container .sponsor .money {
        padding: 15px 150px;
        background: seagreen;
        animation: change 40s ease infinite;
        animation-play-state: running;
        -webkit-transition: all 0.15s ease-out 0s;
        -moz-transition: all 0.15s ease-out 0s;
        transition: all 0.15s ease-out 0s;
        position: relative; }
        .empowerment .container .donate .money:hover, .empowerment .container .sponsor .money:hover {
          animation-play-state: paused;
          box-shadow: 0 5px 20px black; }
        .empowerment .container .donate .money svg, .empowerment .container .sponsor .money svg {
          position: absolute;
          height: 20px;
          width: 20px;
          fill: white; }
      .empowerment .container .donate .delaymoney, .empowerment .container .sponsor .delaymoney {
        animation-fill-mode: backwards;
        animation-delay: 5s; }

#contact {
  margin-top: -15px;
  padding-top: 20vh;
  min-height: 60vh;
  position: relative;
  z-index: 1;
  background-image: url("../img/ravik.png");
  background-position: center;
  background-size: contain; }
  #contact .col-sm-2 {
    position: relative; }
    #contact .col-sm-2 h2 {
      position: absolute;
      text-shadow: 1px 1px 2px black; }
    #contact .col-sm-2 svg {
      fill: turquoise; }
  #contact form input, #contact form textarea {
    margin-bottom: 20px;
    padding: 12px 10px;
    width: 100%;
    border: none;
    border-radius: 25px;
    outline: none;
    background: rgba(251, 43, 58, 0.3);
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s; }
    #contact form input:focus, #contact form textarea:focus {
      padding: 8px 30px;
      background: rgba(251, 43, 58, 0.8);
      border-bottom: 8px solid #FAD89B; }
  #contact form .col-md-4 {
    position: relative;
    background: rgba(251, 43, 58, 0.7);
    height: 60px;
    padding: 0 20px; }
    #contact form .col-md-4 #submit {
      position: absolute;
      top: 50%;
      right: 0;
      bottom: 0;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      border-radius: 0;
      padding: 0;
      margin: 0;
      width: 150px;
      background: transparent; }
    #contact form .col-md-4:hover {
      background: rgba(251, 43, 58, 0.9);
      box-shadow: 0 0 20px black;
      animation: tada 1s ease; }
    #contact form .col-md-4 .plane {
      position: absolute;
      top: 50%;
      left: 60%;
      -webkit-transform: translate(0%, -50%);
      -moz-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
      -o-transform: translate(0%, -50%);
      transform: translate(0%, -50%);
      height: 30px;
      width: 30px; }
      #contact form .col-md-4 .plane path {
        fill: white; }

/*# sourceMappingURL=main.css.map */
